FLASK_ENV=development
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=student_leaderboard
JWT_SECRET_KEY=change-this-secret
SUPER_ADMIN_EMAIL=superadmin@example.com
SUPER_ADMIN_PASSWORD=SuperAdmin@123
PORT=5000
